<h2 class="jumbotron">{{#link-to 'posts.new'}}Make a new blog post!{{/link-to}}</h2>

<section class="half">
{{#each post in model}}
  <h2>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</h2>
{{/each}}
</section>

<section class="half">
  {{outlet}}
</section>
